<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Server Information</h1>
    
    <div>
        <strong>Hostname:</strong> <span id="hostname">{{ ansible_fqdn }}</span>
    </div>
    
    <div>
        <strong>Node Group:</strong> <span id="group">{{ group_names | string | regex_search('version.') }}</span>
    </div>
    
    <div>
        <strong>IP Address:</strong> <span id="ip">{{ ansible_eth1.ipv4.address  }}</span>
    </div>
    
    <div>
        <strong>Timezone:</strong> <span id="timezone">{{ ansible_date_time.tz }}</span>
    </div>

</body>
</html>

